<table class = "table table-hover">
    <tr>
        <td width="70px">
            <img src="{{ post.author.avatar(70) }}">
        </td>
        <td>
            <a href="{{ url_for('main.user', username = post.author.username) }}">
                {{ post.author.username }}
            </a>
            said {{ moment(post.timestamp).fromNow() }} :
            Post language : {{ post.language }} , language {{ g.locale }}
            <br>
            <b> 
                <span id="post{{ post.id }}">
                    {{ post.body }}
                </span>
                {% if post.language and post.language != g.locale %}
                    <br>
                    <br>
                    <span id="translation{{ post.id }}">
                        <a href="javascript:translate(
                            '#post{{ post.id }}',
                            '#translation{{ post.id }}',
                            '{{ post.language }}',
                            '{{ g.locale }}');">
                            Translate
                        </a>
                    </span>
                {% endif %}
            </b>
        </td>
    </tr>
</table>