{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block content_app %}
    <h1>
        Edit Profile
    </h1>
    
    <div class="row">
        <div class="col-md-4">
            {{ wtf.quick_form(form) }}
        </div>
    </div>
{% endblock %}