{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block content_app %}
    <h1>
        Log in
    </h1>

    <div class="row">
        <div class="col-md-4">
            {{ wtf.quick_form(form) }}
        </div>
    </div>

    <p>
        <a href="{{ url_for('auth.register') }}"> Sign up</a>
    </p>
    <p>
        Forgot yotu password ? <a href="{{ url_for('auth.reset_password_request') }}"> Click to reset!</a>
    </p>
{% endblock %}
