{% extends 'base.html' %}

{% block content_app %}
    <table class="table table-hover">
        <tr>
            <td width="256px">
                <img src="{{ user.avatar(256) }}">
            </td>
            <td>
                <h1>
                    {{ user.username }}
                </h1>

                {% if user.about_me %} 
                    <p>
                        {{ user.about_me }}
                    </p>
                {% endif %}

                {% if user.last_seen %} 
                    <p>
                        Last seen on: {{ moment(user.last_seen).format('LLL') }} 
                    </p>
                    <p>
                        {{ user.followers.count() }} Followers {{ user.followed.count() }} Following
                    </p>
                {% endif %}
                {% if user == current_user %}
                    <p>
                        <a href="{{ url_for('main.edit_profile') }}">Edit your profile</a>
                    </p>
                {% elif not current_user.is_following(user) %}
                    <p>
                        <a href="{{ url_for('main.follow', username = user.username) }}"> 
                            Follow 
                        </a>
                    </p>
                {% else %}
                    <p>
                        <a href="{{ url_for('main.unfollow', username = user.username) }}">  
                            Unfollow 
                        </a>
                    </p>
                {% endif %}
            </td>
        </tr>
    </table>
    
    <br>

    {% for post in posts %}
        {% include 'snippets/_posts.html' %}
    {% endfor %}

    {% include 'snippets/_pagination.html' %}

{% endblock %}